.Container {
  padding-left: 150px;
  height: 60vh;
  width: 100%;
  background: rgb(130, 220, 223);
  display: flex;
  align-items: center;
}
.Container h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 70px;
  color: #fff;
}
